* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  color: #eee;
  background-color: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.hero{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url("./images/wierzbno.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  flex: 3;
}

.title {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 5rem;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}

.title h1 span {
  font-size: 2.75rem;
  font-weight: bold;
}

.title p {
  color: #ccc;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}


.slides {
  display: flex;
  flex: 2;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slide {
  display: flex;
  position: absolute;
  right: 1rem;
  width: 300px;
  height: 400px;
  background-image: url("./images/rubjergkude.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
}

.slide:nth-child(1) {
  transform: translate(-20rem);
}

.slide:nth-child(2) {
  transform: translate(0);
}

.slide:nth-child(3) {
  transform: translate(20rem);
}


.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.buttons button {
  margin: 0 1rem;
}